@import "https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap";

body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  
}

a,
a:link,
a:visited {
  text-decoration: none;
  color: #48c6ef;
}

.header-100 {
  height: 100vh;
}

.header-50 {
  height: 50vh;
}

.header-25 {
  height: 25vh;
}

.header {
  background: url("../images/AD_Earth.png");
  background-repeat: no-repeat, repeat;
  background-position: center center;
  background-size: auto 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .big-text {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 20px 40px;
  font-size: 50px;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  color: #09523e;
  font-weight: bold;
}

.box {
  padding: 20px;
  border: 4px solid rgba(255, 255, 255, 0.8);
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 0 4px #999;
  width: 300px;
  min-height: 50px;
  border-radius: 4px;
  z-index: 9;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.footer {
  background-image: linear-gradient(-130deg, #4facfe 0%, #00f2fe 100%);
  height: 300px;
}

.footer .footer-content {
  display: flex;
  justify-content: center;
  position: relative;
  top: -300px;
}

.footer img.pirate {
  width: 380px;
  margin-right: -150px;
}

.drumming {
  margin-top: 10px;
  width: 380px;
  height: 280px;
  background-image: url(../images/HomePage/Home_Section_2/AD.png);
  background-size: 100% 100%;
  background-color: transparent;
  border: none;
}

.citing {
  margin-top: 10px;
  margin-left: 15px;
  width: 746px;
  height: 280px;
  background-image: url(../images/HomePage/Home_Section_2/Airciting_features.png);
  background-size: 100% 100%;
  background-color: transparent;
  border: none;
}

.star {
  margin-top: 10px;
  width: 746px;
  height: 280px;
  background-image: url(../images/HomePage/Home_Section_2/Star_Tracks.png);
  background-size: 100% 100%;
  background-color: transparent;
  border: none;
}

.feel {
  margin-top: 10px;
  margin-left: 15px;
  width: 380px;
  height: 280px;
  background-image: url(../images/HomePage/Home_Section_2/Frame_343.png);
  background-size: 100% 100%;
  background-color: transparent;
  border: none;
}

.learn {
  margin-top: 10px;
  width: 380px;
  height: 280px;
  background-image: url(../images/HomePage/Home_Section_2/Learn_More.png);
  background-size: 100% 100%;
  background-color: transparent;
  border: none;
}

.drumplay {
  margin-top: 10px;
  margin-left: 15px;
  width: 746px;
  height: 280px;
  background-image: url(../images/HomePage/Home_Section_2/Drum_Play.png);
  background-size: 100% 100%;
  background-color: transparent;
  border: none;
}


.about {
  height: 100vh;
  background-image: url(../images/About/section_4/Section_04_back.png);
  background-size: 100% 100%;
}


::-webkit-scrollbar {
  width: 10px; /* width of the scrollbar */
  border-radius: 50px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* color of the track */
  border-radius: 50px;
}

::-webkit-scrollbar-thumb {
  background: #888; /* color of the scrollbar */
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* color when hovering */
  border-radius: 50px;
}

/* For Firefox */
.scrollable {
  scrollbar-width: thin; /* options: auto, thin */
  scrollbar-color: #888 #f1f1f1; /* scrollbar color and track color */
}

.MuiPopover-root {
  top: 10px !important;
}